@import "tailwindcss";

@config '../tailwind.config.js';
@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::before,
  ::after {
    @apply border-[#E7E9ED] dark:border-[#3A3D42];
  }

  /* .autocomplete-container [data-slot="input-wrapper"] {
    @apply !bg-input;
  } */

  [data-slot="label"] {
    @apply !text-sm font-medium;
  }

  [aria-label*="Today"] {
    @apply border border-blue-400;
  }
}

:root {
  --color-primary: 59 130 246;
  --color-secondary: 107 114 128;
  --color-background: 255 255 255;
  --color-foreground: 17 24 39;
  --color-divider: 229 231 235;
  --color-overlay: 0 0 0;
  --color-focus: 147 197 253;
  --color-content1: 249 250 251;
  --color-content2: 243 244 246;
  --color-content3: 229 231 235;
  --color-content4: 156 163 175;
  --color-success: 34 197 94;
  --color-warning: 234 179 8;
  --color-danger: 239 68 68;
}

.dark {
  --color-primary: 96 165 250;
  --color-secondary: 156 163 175;
  --color-background: 17 24 39;
  --color-foreground: 243 244 246;
  --color-divider: 55 65 81;
  --color-overlay: 0 0 0;
  --color-focus: 147 197 253;
  --color-content1: 31 41 55;
  --color-content2: 55 65 81;
  --color-content3: 75 85 99;
  --color-content4: 156 163 175;
  --color-success: 34 197 94;
  --color-warning: 234 179 8;
  --color-danger: 239 68 68;
}
