@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 37 99 235;
  --color-secondary: 249 115 22;
  --color-background: 249 250 251;
  --color-foreground: 31 41 55;
  --color-divider: 229 231 235;
  --color-overlay: 0 0 0;
  --color-focus: 37 99 235;
  --color-content1: 243 244 246;
  --color-content2: 229 231 235;
  --color-content3: 209 213 219;
  --color-content4: 156 163 175;
  --color-success: 22 163 74;
  --color-warning: 245 158 11;
  --color-danger: 220 38 38;
}

.dark {
  --color-primary: 59 130 246;
  --color-secondary: 249 115 22;
  --color-background: 31 54 55;
  --color-foreground: 226 232 240;
  --color-divider: 75 85 99;
  --color-overlay: 0 0 0;
  --color-focus: 59 130 246;
  --color-content1: 55 65 81;
  --color-content2: 75 85 99;
  --color-content3: 107 114 128;
  --color-content4: 156 163 175;
  --color-success: 22 163 74;
  --color-warning: 245 158 11;
  --color-danger: 220 38 38;
}
